//
//  Release.xcconfig
//  Ludwigx
//
//  Created by thang-nm on 6/15/20.
//  Copyright © 2020 thang-nm. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../../Pods/Target Support Files/Pods-Ludwigx/Pods-Ludwigx.debug.xcconfig"

FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)"
